@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
    --primary: #ff0000;
    --secondary: #ffaa00;
    --accent: #00ff62;
}

html *{
    font-family: 'Noto Sans', sans-serif;
}


header{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    padding: 10px;
    display: flex;
}

header button{
    font-weight: 600;
    font-size:medium;
    border: none;
    background: none;
}

footer{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    padding: 10px;
    height: 90px;
}

footer .socials{
    display: flex;
    flex-direction: row;
    background-color: var(--accent);
    padding: 5px;
    gap: 10px;
    border-radius: 15px;
    width: min-content;
    height: min-content;
    margin-top: 5px;
}

.contactCont{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.facebook,.twitter,.instagram{
    background-image: url('../media/socials.png');
    zoom: 50%;
    object-fit: cover;
    border-radius: 50%;
    width: 76px;
	height: 76px;
}

.facebook{
    background-position: 0 -82px;
}

.twitter{
    background-position: -79px -82px;
}

.instagram{
    background-position: -237px -82px;
}