@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
  --primary: #ff0000;
  --secondary: #ffaa00;
  --secondary-highlight:#976500;
  --accent: #00ff62;
  --subcontainer: black;
}

div[id=root]{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Noto Sans', sans-serif;
}

.exit-button{
  position: absolute;
  top: 0;
  right: 0;
}

/*HEADER*/
header{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  display: flex;
}

.left-header{
  display: flex;
}

.right-header{
  margin-left: auto;
  display: flex;
}
/*
Show profile picture of user on header
*/
[id=headerUser]{   
  width: 20px;
  height: auto;
}

[id=headerHome]{
  position: absolute;
  left: 49%;
  background-image: url('media/logo.png');
  background-position: -325px -42px;
  zoom: 7%;
  object-fit: cover;
  width: 541px;
	height: 586px;
}


a.nav-button:hover, a.nav-button:focus, a.nav-button:active{
  text-decoration: none;
  color: inherit;
  background-color: var(--secondary-highlight);
  animation-name: navBarHoverAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.nav-button{
  font-weight: 600;
  font-size:medium;
  padding: 10px;
  border: none;
  background: none;
  text-decoration: none;
  color: inherit;
}

/*FOOTER*/
footer{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  padding: 10px;
  height: 90px;
}

footer .socials{
  display: flex;
  flex-direction: row;
  background-color: var(--accent);
  padding: 5px;
  gap: 10px;
  border-radius: 15px;
  width: min-content;
  height: min-content;
  margin-top: 5px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact-us{
  font-weight: 400;
}

.facebook,.twitter,.instagram{
  background-image: url('media/socials.png');
  zoom: 50%;
  object-fit: cover;
  border-radius: 50%;
  width: 76px;
	height: 76px;
}

.facebook{
  background-position: 0 -82px;
}

.twitter{
  background-position: -79px -82px;
}

.instagram{
  background-position: -237px -82px;
}

/*MAIN CONTENT*/
div[class^=content-]{
  margin-top: 42px;
}

/*MODALS*/
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  pointer-events: all;
  opacity: 1;
  animation-name: fadeInAnimation;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.modal-container-closed{
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  animation-name: fadeOutAnimation;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px;
}

.modal .login-text{
  font-weight: 700;
  font-size:40px;
  margin-bottom: 30px;
}

.login-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  }

.login-details input{
  font-size: medium;
  padding: 5px;
  width: 400px;
}

.login-details button[type='submit']{
  padding: 5px;
  width: min-content;
}

/*REGISTER*/
[id=create-account]{
  font-size: 50px;
  justify-content: center;
  display: flex;
}

[id=register-submit]{
  width: min-content;
  font-size: 20px;
  padding: 5px;
  justify-content: center;
  display: flex;
}

.content-register-right{
  justify-content: center;
  display: flex;
  gap: 5%;
}

input{
  border-radius: 5px;
  font-size: 200%;
}

.content-register{
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.register-right{
  bottom: 0;
  flex:1;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  max-width: 50%;
}
.register-left{
  flex: 1;
  max-width: 50%;
}



/*ANIMATIONS*/
@keyframes fadeInAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes zoomInAnimation {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes zoomOutAnimation {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

@keyframes navBarHoverAnimation {
  0%{
    background-color: var(--secondary);
  }
  100%{
    background-color: var(--secondary-highlight);
  }
}

/* Home.js contents*/

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 50px;
  background-color: var(--subcontainer);
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 50px;
  padding: 30px;
  font-size: 64px;
  font: "Segoe UI";
  border: 1px solid brown; /* Delete this*/
}

