@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
  --primary: rgb(238, 238, 238);
  --primary-highlight: rgb(192, 192, 192);
  --secondary: rgb(90, 104, 104);
  --secondary-highlight:rgb(117, 126, 126);
  --accent: rgb(69, 115, 115);
  --subcontainer: black;
  --radius: 15px;
}

div[id=root]{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Noto Sans', sans-serif;
}

.exit-button{
  position: absolute;
  top: -150px;
  right: -150px;
  background-image: url(./media/close-icon.jpg);
  background-position: -5px -6px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  zoom: 10%;
  border-radius: 50%;
}

.exit-button:hover{
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}



/*HEADER*/
header{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  display: flex;
  padding: 5px;
}

.left-header{
  display: flex;
  gap:10px;
}

.right-header{
  margin-left: auto;
  display: flex;
  gap:10px;
}

.username-header{
  color: var(--primary);
  font-size: medium;
  font-weight: 600;
  padding: 10px;
}

[id=headerHome]{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('media/logo.png');
  background-position: -325px -42px;
  zoom: 7%;
  object-fit: cover;
  width: 541px;
	height: 586px;
}


a.nav-button:hover, a.nav-button:focus, a.nav-button:active{
  text-decoration: none;
  background-color: var(--secondary-highlight);
  animation-name: navBarHoverAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.nav-button{
  font-weight: 600;
  font-size:medium;
  padding: 10px;
  border: none;
  background: none;
  text-decoration: none;
  color: var(--primary);
}

/*USER HEADER*/
[id=header-user]{
  padding: 0;   
}

.profile-pic{
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic:hover{
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.user-dropdown-text{
  display: flex;
  flex-direction: column;
}

.user-dropdown-container{
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  position: absolute;
  top: 47px;
  right: 5px;
  border-radius:var(--radius);
  box-shadow: 0 0 10px;
  padding: 10px;
  animation-name: zoomIn;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
}

a.user-dropdown-button:hover, a.user-dropdown-button:active{
  text-decoration: none;
  animation-name: userDropdownHover;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  background-color: var(--primary-highlight);
  border-radius: 5px;
  cursor: pointer;
}

/*FOOTER*/
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary);
  padding: 10px;
  height: max-content;
}

footer .socials{
  display: flex;
  flex-direction: row;
  background-color: var(--accent);
  padding: 5px;
  gap: 10px;
  border-radius: var(--radius);
  width: min-content;
  height: min-content;
  margin-top: 5px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact-us{
  font-weight: 400;
  color: var(--primary);
}

.facebook,.twitter,.instagram{
  background-image: url('media/socials.png');
  zoom: 50%;
  object-fit: cover;
  border-radius: 50%;
  width: 72px;
	height: 72px;
}

.facebook{
  background-position: 0px -84px;
}

.twitter{
  background-position: -79px -84px;
}

.instagram{
  background-position: -237px -84px;
}

/*MAIN CONTENT*/
div[class^=content-]{
  margin-top: 52px;
  margin-bottom: 94px;
}

/*MODALS*/
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  pointer-events: all;
  opacity: 1;
  animation-name: fadeInAnimation;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.modal-container-closed{
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  animation-name: fadeOutAnimation;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: var(--radius);
  box-shadow: 0px 0px 20px rgb(83, 83, 83);
}

.modal .login-text{
  font-weight: 700;
  font-size:40px;
  margin-bottom: 30px;
  letter-spacing: -3px;
  color: var(--accent);
}

.login-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  }

.login-details input{
  font-size: medium;
  padding: 5px;
  width: 400px;
}

.login-details [id='login-submit']{
  margin-top: 15px;
  padding: 5px;
  font-size: 15px;
}

/*REGISTER*/
[id=inside-register-header]{
  justify-content: center;
  display: flex;
  background-color: var(--accent);
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 45px;
  font-weight: 700;
  border-radius: var(--radius) var(--radius) 0 0;
  color: var(--primary);
  padding: 15px 0 15px 0;
  letter-spacing: -3px;
}

[id=register-submit]{
  width: min-content;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.inside-register-right{
  justify-content: center;
  display: flex;
  gap: 3%;
  height: min-content;
  margin: 20px;
}

input{
  border-radius: 5px;
  font-size: 140%;
  padding: 5px;
  overflow: hidden;
  border-style: hidden;
}

.content-register{
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.register-right{
  bottom: 0;
  flex:1;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  max-width: 50%;
}

.register-left{
  flex: 1;
  max-width: 50%;
  background-image: url('./media/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.register-box{
  background-color: white;
  min-width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
  box-shadow: 0px 0px 15px rgb(121, 121, 121);
  animation-name: slideRight;
  animation-duration: forwards;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
/* FORUMS */

.content-forum{
  margin: 10px;
 
}

h4{
  margin: 0;
  margin-left: 20px;
}
.post-header{
  background-color: black;
  border-radius: 10px;
  height: 45px;
  padding: 0 35px;
  display: flex;
  margin-left: 30px;
}

.post-header-text{
  color: aliceblue;
  margin: 5px;
  
}
.post-title{
  margin-top: 10px;
}
.post-title-text{
  color: rgb(54, 54, 54);
  font-size:small;
  margin: 5px 0;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: rgb(71, 71, 71);
}


.row{
  background-color: rgb(255, 245, 245);
  border: 1px solid gray;
  box-shadow: 10%;
  margin: auto;
  width: auto;
}

li{
    list-style-type: none;
}

[id='post-search']{
  border: 1px solid gray;
  width: 20%;
  font-size: medium;
}

[id='post-search-button']{
  font-size: medium;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

[id='post-search-button']:hover{
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}


/*STORE REVIEW*/
.content-store-review{
  background-color: var(--primary);
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

[id='store-review-search']{
  border: 1px solid gray;
  width: 35%;
  font-size: medium;
}

[id='store-review-search-button']{
  font-size: medium;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

[id='store-review-search-button']:hover{
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

[id='store-review-title']{
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

[id='store-review-header']{
  margin-top: 60px;
}

/*ANIMATIONS*/
@keyframes fadeInAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes navBarHoverAnimation {
  0%{
    background-color: var(--secondary);
  }
  100%{
    background-color: var(--secondary-highlight);
  }
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0%);} 
  40% {transform: translateY(-7%);} 
  60% {transform: translateY(-5%);} 
}

@keyframes slideRight {
  0%{transform: translateX(1000%);}
  70%{transform: translateX(-53%);}
  80%{transform: translateX(-49%);}
  90%{transform: translateX(-51%);}
  100%{transform: translateX(-50%);}
}

@keyframes slideLeft {
  0%{transform: translateX(-1000%);}
  70%{transform: translateX(4%);}
  80%{transform: translateX(-3%);}
  90%{transform: translateX(2%);}
  100%{transform: translateX(0%);}
}

@keyframes slideTop {
  0%{transform: translateY(-1000%);}
  70%{transform: translateY(4%);}
  80%{transform: translateY(-3%);}
  90%{transform: translateY(2%);}
  100%{transform: translateY(0%);}
}

@keyframes userDropdownHover {
  0%{background-color: var(--primary);}
  100%{background-color: var(--primary-highlight);}
}

@keyframes zoomIn {
  0%{transform: scale(0%);}
  10%{transform: scale(90%)}
  100%{transform: scale(100%);}
  
}

/* Home.js contents*/

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 50px;
  background-color: var(--accent);
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100px;
  padding: 30px;
  font-size: 64px;
  font: "Segoe UI";
}

.main-section-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF3EC;
  block-size: 150px;

}

.main-section-content {
  background-color: #5C5252;
  color: white;
  display: flex;
  gap: 50px;
  padding: 20px 20px;
  border-radius: 10px;
  block-size: 30px;
  align-items: center;
  font: 'Segoe UI', 'Times New Roman';
  font-size: 24px;

}

.pcguro-build-guide-container{
  direction: row;
  width: 1920px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26231B;
}


